<nav class="navbar navbar-expand navbar-dark bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <h2>
          <span style="color: brown;">H</span>
          <span style="color: #000;">Solution</span>
        </h2>
      </div></a>
      <div class="collapse navbar-collapse" id="navbarSupporttedContent">
        <ul class="nav justify-content-center">

          <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/aboutus">About us</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/portfolio">Portfolio</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/services" >Services</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/contactus">Contact us</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>