<%- include Partials/main_nav.ejs %>
<%- include Partials/header.ejs %>

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="/bootstrap/dist/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
  <div class="hero-component">
    <div class="hero-content">
      <h2 class="hero-heading">About Us</h2>
      <p class="hero-text">
        I am probably the most passonate designer you will ever get to work with
      </p>
    </div>
  </div>

  <div class="info-container">
    <div class="info-img">
        <img src="/Assets/images/hardipsinh passport photo_1.jpg" width='500px' height='400px' />
    </div>
<div class="info-content">
      <h2 class="info-heading">Hello, I am Hardipsinh</h2>
      <p class="info-text">
      I am software developer and i had experience in web development and wordpress also done SEO for websites. currently moved in canada for higher studies in software engineering technician in centennial college.</p><p class = "info-text"> I am cuurently looking forward to learn 
      software developement tools and use it in my future perspective. 
      </p>
      <a href="/Assets/images/Hardip Resume.pdf" download><button type="button" class="btn btn-outline-secondary">Look into my Resume</button> </a>
       
      </div>
</div>


<!-- Script -->

<script src="/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>