<%- include Partials/header.ejs %>

<%- include Partials/main_nav.ejs %>


  <div class="position-relative overflow-hidden text-center bg-light">
    <div class="soft-img">
    <div class="col-md-5 p-lg-5 mx-auto my-5" style="color: #fff;">
      <h2>Hello, It's Me</h2>
      <h1 class="display-4 fw-normal" style="color: #fff;">Hardipsinh Matroja</h1>
      <p class="lead fw-normal" style="color: #fff;">An enthusiastic software developer currently studying more about softwares and vision to build software company in future  .</p>
      <a class="btn btn-primary" href="/aboutus">Explore more about me</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>

</div>
<h1 class="service-home"> Services </h1>

<div class="card-container">
  <div class="blog_post">

<div class="container_copy">
  <h1>Web developement</h1>
  <p>I can make difftent website using react js and node js as backend</p>
 
</div>

</div>



  <div class="blog_post">

<div class="container_copy">
  <h1>Wordpress development
  </h1>
  <p>Wordpress is easy to use tool, and if you want your website fast as possible wordpress is great option for you</p>
  
</div>

</div>
  


 
  <div class="blog_post">

<div class="container_copy">
  <h1>SEO</h1>
  <p>To make your website top on the google we are giving you SEO service which helps you to grow in market</p>
</div>

</div>
  </div>




    <%- include Partials/footer.ejs %>