<%- include Partials/main_nav.ejs %>
<%- include Partials/header.ejs %>


    <div class="hero-component">
        <div class="hero-content">
          <h2 class="hero-heading">Portfolio</h2>
          <p class="hero-text">
            Look into my portfolio for your reference
          </p>
        </div>
      </div>

      <div class="portfolio-container">
        <div class="card" style="width: 25rem;">
            <img class="card-img-top" src="/Assets/images/bhumik-shah.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Wordpress</h5>
              <p class="card-text">I made this website using wordpress editor for my client and this is personal website for him and he is famous singer in india</p>
              <a href="http://bhumikshahlive.in/" target="_blank" class="btn btn-primary">View Website</a>
            </div>
          </div>

          <div class="card" style="width: 25rem;">
            <img class="card-img-top" src="/Assets/images/real-estate.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">React Js</h5>
              <p class="card-text">I have made this project as assignment earlier using React js for real-estate business where i have agent and user can buy or sell any property.</p>
            </div>
          </div>

          <div class="card" style="width: 25rem;">
            <img class="card-img-top" src="/Assets/images/the brand window.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Wordpress</h5>
              <p class="card-text">I made this website using wordpress and custom css and javascript and this is for my client who wants attractive website and i made this.</p>
              <a href="https://thebrandwindow.com/" target="_blank" class="btn btn-primary">View Website</a>
            </div>
          </div>
      </div>
</body>
</html>