<%- include Partials/main_nav.ejs %>
<%- include Partials/header.ejs %>


    <div class="hero-component">
        <div class="hero-content">
          <h2 class="hero-heading">Services</h2>
          <p class="hero-text">
            The best service i provide with customers.
          </p>
        </div>
      </div>

      <div class="service-container">
      <div class="row">
        <div class="col-sm-6 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Website developement</h5>
              <p class="card-text">i can make appropriate website for your business and make it grow by using diffrent tools. using React js and knowledge of node js we can make complete website.</p>
              <a href="#" class="btn btn-primary">Contact us</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">SEO</h5>
              <p class="card-text">I can help you with SEO and make your business grow on google and also provide google ads and facebook ads services within SEO and make you on top of the google.</p>
              <a href="#" class="btn btn-primary">Contact us</a>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class=".col-sm-6 col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">software developement</h5>
                <p class="card-text">I am learning new software skills and backend developing but i can handle small projects in java.also i am learing advance database which can help me to handle database.</p>
                <a href="#" class="btn btn-primary">Contact us</a>
              </div>
            </div>
          </div>

          <div class=".col-sm-6 col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">wordpress developement</h5>
                <p class="card-text">Wordpress is easy to use and fast building websites and diffrent plugin use for making your website looks good and inbuilt SEO plugins make your work easy to maintain your website</p>
                <a href="#" class="btn btn-primary">Contact us</a>
              </div>
            </div>
          </div>

          
      </div>
    </div>
      </body>
      </html>