<%-include ../partials/header.ejs%>
<%-include ../partials/main_nav.ejs%>
<!--Content for the Add Page-->
<div class="container-l">
    <div class="row-a">
        <div class="offset-md-3 col-md-6">
        <h1><%=title%></h1>
            <form class="form" method="POST">
                <div class="form group">
                    <label for="nameTextField">Contact Name</label>
                    <input type="text" class="form control"
                    id="nameTextField"
                    placeholder = "Enter Name"
                    name="name" required>
                    </div>

                    <div class="form group">
                    <label for="text">Email</label>
                    <textarea type="email" class="form control"
                    id="emailTextArea"
                    placeholder = "Enter Email"
                    name="email" required></textarea>
                    </div>

                    <div class="form group">
                    <label for="contactnumber">Contact Number</label>
                    <input type="phonenumber" class="form control"
                    id="conatctTextField"
                    placeholder = "Enter Contact Number"
                    name="Phnumber" required>
                    </div>
                    <div class="submit">
                    <button class="btn btn-primary" type="submit"><i class="fas fa-edit"></i>submit</button>
                    <a href="/contactList" class="btn btn-warning"><i class="fas fa-undo"></i>cancel</a>
                </div>
                </form>
        </div>
        </div>
    </div>
</body>
</html>